---
sidebar: sidebar/empty.html
---
<div class="post-header-home">
    <h1 class="post-title-home">"I've heard it myself."</h1>

    <p>News media can't breathe without the trust of their audience. That trust mostly comes from hard work in researching stories, but sometimes it also comes from simply documenting the truth. Digital media provide us with unique ways of doing that - such as embedding original recordings below a written quote. Which is what we've done in this small demo website.

    <p>

    <p>The first story shows you how that can be done. The second applies the principle to a whole interview. Enjoy!
    </p>

</div>




{% for post in site.posts limit:site.data.theme.num_home_posts %}
<div class="post-header-home">
  <h2 class="post-title-home">
    <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
  </h2>
  {% include post-header-home.html %}
</div>
<div class="post-excerpt-home">
  {{ post.excerpt }}
  <p class="text-right"><a href="{{ post.url | prepend:site.baseurl }}">weiter &rarr;</a></p>
</div>
{% endfor %}
<hr>
<div class="home-read-more">
</div>
