<!-- Place your <script> tags here. -->

<!-- Example: Twitter -->
<script type='text/javascript' src='//cdn.knightlab.com/libs/soundcite/latest/js/soundcite.min.js'></script>

<script src=" {{ "/bower_components/rangy/rangy-core.min.js" | prepend:site.baseurl }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ "/bower_components/qtip2/jquery.qtip.js" |prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/bower_components/ua_parser/src/js/userAgent.js" |prepend: site.baseurl }}"></script>


<script>

$(document).ready(function() {
 var $p=$("#player")[0];
 $(".player-controls").hide();

 if ($p) {
     $( '.col-sm-8' ).on( 'mouseup', function(){
      window.cue={start: 0, end: 0, timeout : 0 };
      var h=rangy.getSelection().toHtml();
      var w=h.match(/(data-cue="([0-9\.]+))"/g);
      if (w) {
      	if (w.length>0) {
          clearTimeout(window.cue.timeout);
          $(".player-controls").fadeOut;
          window.cue.start=parseFloat(w[0].match(/[0-9\.]+/)[0]);
          window.cue.end=parseFloat(w[w.length-1].match(/[0-9\.]+/)[0]);
          $("#cuetime").html(window.cue.start+" - "+window.cue.end)
          $(".player-controls").css({top: (event.pageY-150)+"px"}).fadeIn();

          $p.currentTime=window.cue.start;
          $p.play();
        } else {
          window.cue.end=0;
        }

      	}
      });
     $($p).on("timeupdate",function() {
           if ($p.currentTime>=window.cue.end) {
              $p.pause();
              window.cue.timeout=setTimeout(15000, function() { $(".player-controls").fadeOut() });
           }
      });
    }
});

</script>


<div id="browser-warning" style="display: none;border: 1px dotted #990000; margin: 5px; text-align: center; padding: 5%; background: RGBA(255,255,255,.8); position: fixed; top: 10%; left: 10%; right: 10%; bottom: 10%">
  <h2>Diese Demo funktioniert im Moment leider nur in Google Chrome.</h2>
  <button onClick="$('#browser-warning').fadeOut()" style="position: absolute; bottom: 5%; right: 5%;">Verstanden.</button>
</div>
<script>
$(document).ready(function() {
  if (!window.util.userAgent().browser.chrome) {
   $("#browser-warning").fadeIn();
  };
});
</script>
