<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div class="player-controls" style="position: absolute">
    <a href="#" class="button" onClick='$("#player")[0].currentTime=window.cue.start;$("#player")[0].play()'><i class="fa fa-play-circle"></i></span></a>
    <a href="#" class="button" onClick='$("#player")[0].pause()'><i class="fa fa-pause"></i></span></a>
    <b id="cuetime"></b>
</div>

<div id="sidebar">
  <div class="well">
    Text: <a href="../dpa-20150621-bdt-0569/">dpa-Meldung</a>
  </div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
 <audio id="player">
    <source src="{{ "/audio/20150621_1105_dlf_kasdorf_interview_1be46d56.mp3" | prepend:site.baseurl}}"/>
 </audio>

</div>
